<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.artifex.mupdf.mini" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name=".LibraryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name=".DocumentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/vnd.ms-xpsdocument"/>
                <data android:mimeType="application/oxps"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="text/xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.pdf"/>
                <data android:pathPattern=".*\\.xps"/>
                <data android:pathPattern=".*\\.oxps"/>
                <data android:pathPattern=".*\\.cbz"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.fb2"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name=".OutlineActivity"/>
    </application>
</manifest>
