<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.app">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.example.app.LibraryActivity">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.example.app.DocumentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/vnd.ms-xpsdocument"/>
                <data android:mimeType="application/oxps"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="text/xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.pdf"/>
                <data android:pathPattern=".*\\.xps"/>
                <data android:pathPattern=".*\\.oxps"/>
                <data android:pathPattern=".*\\.cbz"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.fb2"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.example.app.OutlineActivity"/>
    </application>

</manifest>